body{
	margin: 0px;
	padding: 0px;
}
.menu_box{
	border-radius: 8px;
	border: 1px solid black;
}
ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
	float: left;
}
li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: blue;
	color: white;
}

.main_page{
	 margin-left: 86px;
    margin-right: 122px;
}

.sub_menu{
	border-radius: 8px;
	border: 1px solid black;
	height: 250px;
}

#footer{
    border-radius: 5px;
    border: 1px solid black;
    height: 50px;
}
.sign_up{
	border-radius: 4px;
	border: 1px solid black;
	height: 44px;
	background-color: gray;
}

#sub_menu1 {
    width: 100%;
    padding: 50px 0;
    border: 1px solid black;
    border-radius: 8px;
    height: 646px;
}